{% extends 'layout.twig' %}

{% block content %}
    <div class="supsystic-item supsystic-item-autoheight">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">

                    {% set columns = [
                        'ID',
                        environment.translate('Title'),
                        environment.translate('Created'),
                        environment.translate('Shortcode'),
                        environment.translate('PHP'),
                        environment.translate('Actions')]
                    %}

                    <table id="tables" class="wp-list-table widefat">
                        <thead>
                        <tr>
                            {% for column in columns %}
                                <th scope="col">{{ column }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for table in tables %}
                            <tr id="table-{{ table.id }}" data-table-id="{{ table.id }}">
                                <td>
                                    {{ table.id }}
                                </td>
                                <td>
                                    <a href="{{ environment.generateUrl('tables', 'view', { 'id': table.id }) }}" data-toggle="tooltip" title="{{ environment.translate('Edit table "%s"') | format(table.title) }}">
                                        {{ table.title }}
                                    </a>
                                    <i class="fa fa-fw fa-pencil"></i>
                                </td>
                                <td>
                                    {{ table.created_at | date('F jS \\@ H:i') }}
                                </td>
                                <td>
                                    <input type="text" class="shortcode" readonly value="[{{ environment.config.get('shortcode_name') }} id='{{ table.id }}']">
                                </td>
                                <td>
                                    <input type="text" class="shortcode" readonly value="{{ "<?php echo supsystic_tables_get(%s); ?>" | format(table.id) }}">
                                    
                                </td>
                                <td>
                                    <a class="button button-small"
                                       href="{{ environment.generateUrl('tables', 'view', { 'id': table.id }) }}">
                                        <i class="fa fa-fw fa-pencil"></i>
                                        <!-- /.fa fa-fw fa-pencil -->
                                    </a>
                                    <!-- /.button -->
                                    <a class="button button-small delete-table"
                                       href="#">
                                        <i class="fa fa-fw fa-trash-o"></i>
                                        <!-- /.fa fa-fw fa-pencil -->
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.wp-list-table widefat -->

                </div>
                <!-- /.col-xs-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.supsystic-item -->
{% endblock %}