{% extends 'base.twig' %}

{% block layout %}
    <div class="supsystic-plugin">
        <div class="supsystic-content">
            <nav class="supsystic-navigation supsystic-sticky supsystic-sticky-active">
                <ul>
                    {% block navigation %}
                        <li class="{% if request.query.module == 'overview' %}active{% endif %}">
                            <a href="{{ environment.generateUrl('overview') }}">
                                <i class="fa fa-info"></i>
                                {{ environment.translate('Overview') }}
                            </a>
                        </li>
                        <li>
                            <a id="menuItem_addTable" href="#add">
                                <i class="fa fa-fw fa-plus"></i>
                                {{ environment.translate('Add new table') }}
                            </a>
                        </li>
                        <li {% if environment.isModule('tables') %}class="active"{% endif %}>
                            <a id="menuItem_tables" href="{{ environment.generateUrl('tables') }}">
                                <i class="fa fa-fw fa-table"></i>
                                {{ environment.translate('Tables') }}
                            </a>
                        </li>
                        <li {% if environment.isModule('settings') %}class="active"{% endif %}>
                            <a id="menuItem_tables" href="{{ environment.generateUrl('settings') }}">
                                <i class="fa fa-fw fa-gear"></i>
                                {{ environment.translate('Settings') }}
                            </a>
                        </li>
                        {% if environment.getModule('license') != null %}
                            <li {% if environment.isModule('license') %}class="active"{% endif %}>
                                <a id="menuItem_tables" href="{{ environment.generateUrl('license') }}">
                                    <i class="fa fa-fw fa-hand-o-right "></i>
                                    {{ environment.translate('License') }}
                                </a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
                <div class="clear"></div>
                <!-- /.clear -->
            </nav>
            <!-- /.supsystic-navigation supsystic-sticky supsystic-sticky-active -->
            <div class="supsystic-container">
                {{ environment.getDispatcher().dispatch('notices') }}
                {% block content %}{% endblock %}

                <div id="addDialog" style="display: none;" title="{{ environment.translate('Add new table') }}">
                    <div style="min-height: 70px;">
                        <form id="tableForm">
                            <label for="addDialog_title">
                                {{ environment.translate('Table title') }}
                            </label>
                            <input id="addDialog_title" class="supsystic-text" type="text" style="width:100%;"/>
                            <!-- /#addDialog_title.regular-text -->
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="addDialog_cols">
                                        {{ environment.translate('Columns') }}
                                    </label>
                                    <input id="addDialog_cols" class="supsystic-text" type="number" value="5" min="1" max="100" style="width: 100%"/>
                                    <!-- /#addDialog_cols -->
                                </div>
                                <!-- /.col-xs-6 -->
                                <div class="col-xs-6">
                                    <label for="addDialog_rows">
                                        {{ environment.translate('Rows') }}
                                    </label>
                                    <input id="addDialog_rows" class="supsystic-text" type="number" value="5" min="1" max="100" style="width: 100%"/>
                                    <!-- /#addDialog_rows -->
                                </div>
                                <!-- /.col-xs-6 -->
                            </div>
                            <!-- /.row -->
                            <div style="padding-top: 5px;">{{ environment.translate('You can change number of Columns and Rows later') }}</div>
                        </form>
                        <div id="formError" style="color: red; display: none; float: left;">
                            <p></p>
                        </div>
                        <!-- /#formError -->
                    </div>
                </div>
                <!-- /#addDialog -->
            </div>
            <!-- /.supsystic-container -->
        </div>
        <!-- /.supsystic-content -->
    </div>
    <!-- /.supsystic-plugin -->
{% endblock layout %}